/*default styling for extra small screens*/

body {
    margin: .5rem;
    background-color: #93b8d7;
    color: white;
}

nav a {
    color: white;
    font-size: 2.5rem;
    padding-right: .5em;
    
}

/* hide links*/

#social-links {
    display: none;
}

main {
   text-align: center; 
   font-family: "Kaushan Script", "papyrus";
   margin-top: 23vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2em;
}

footer {
    display: none;
}

/* media query */

@media (min-width 598px) {
    #hamburger-menu {
        display: none;
    }
    #social-links { /* override*/
        display: block;
    }
}